{% extends 'base.html.twig' %}

{% block title %}Créer une sortie!
{% endblock %}

{% block body %}

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	{{ parent() }}
	<section class="vh-100 d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col col-xl-10">
					<div class="card">
						<div class="card-body p-4 p-lg-5">
							<div class="d-flex flex-column align-items-center mb-3 pb-1">
								<img src="{{ asset('img/Logo.svg') }}" width="200" alt="sortir.com">
								<h3 class="ms-3 fw-bold mt-3">Créer une sortie</h3>
							</div>

							<div class="row">
								<div class="col-md-6">
									{{ form_start(sortieForm) }}

									{{ form_row(sortieForm.nom,{
                                                                    attr:{
                                                                        class:'form-control'
                                                                    },row_attr:{
                                                                        class:'form-group '
                                                                    }
                                                                }) }}
								</div>
								<div class="col-md-6">

									{{ form_row(sortieForm.dateDebut,{
                                                                    attr:{
                                                                        class:'form-control '
                                                                    },row_attr:{
                                                                        class:'form-group'
                                                                    }
                                                                }) }}
								</div>
								<div class="col-md-6">
									{{ form_row(sortieForm.dateCloture,{
                                    attr:{
                                        class:'form-control '
                                    },row_attr:{
                                        class:'form-group'
                                    }
                                }) }}
								</div>
								<div class="col-md-6">
									{{ form_row(sortieForm.nbInscriptionsMax,{
                                    attr:{
                                        class:'form-control '
                                    },row_attr:{
                                        class:'form-group'
                                    }
                                }) }}
								</div>
								<div class="col-md-6">
									{{ form_row(sortieForm.duree,{
                                    attr:{
                                        class:'form-control '
                                    },row_attr:{
                                        class:'form-group'
                                    }
                                }) }}
								</div>
								<div class="col-md-6">
									{{ form_row(sortieForm.descriptioninfos,{
                                    attr:{
                                        class:'form-control '
                                    },row_attr:{
                                        class:'form-group'
                                    }
                                }) }}
								</div>
								<div>Ville organisatrice:
									<b>{{ app.user.site.nom }}</b>
								</div>

								<div class="col-md-6">
									{{ form_row(sortieForm.lieu)}}
								</div>
								<div class="col-md-6">
									{{ form_row(sortieForm.urlPhoto, {
										attr: {
											class: 'form-control'
										},
										row_attr: {
											class: 'form-group'
										}
									}) }}
								</div>
							</div>
							<div class="d-flex justify-content-center mt-4">
								<button type="submit" class="btn text-white me-3 w-100" style="background-color:#2CB451">Enregistrer</button>
								<button type="submit" class="btn btn-dark me-3 w-100" name="creer" value="publier">Publier</button>
								<a href="{{ path('app_home') }}" class="btn text-white me-3 w-100" style="background-color:#FE0200">Annuler</a>
							</div>
							{{ form_end(sortieForm) }}

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		let objet;
let url = '../lieux-villes';
// de cette reponse on extrait le body : JSON
fetch(url).then(response => response.json()).then(data => {
console.log(data);
objet = data;
document.getElementById('sortie_ville').innerHTML = "";
for (let v of data.villes) {
let option = document.createElement('option'); // <option></option>
option.textContent = v.nom;
// <option>Bonjour</option>
// <option value="42">Bonjour</option>
option.setAttribute('value', v.id);
document.getElementById('sortie_ville').append(option);
}
afficherFruit(data.villes[0].id);
console.log(data.villes[0].id);
});

function afficherFruit(villeId) { // vider la balise select
document.getElementById('sortie_lieu').innerHTML = "";
for (let l of objet.lieux) {
if (villeId == l.ville.id) {
let option = document.createElement('option'); // <option></option>
option.textContent = l.nom;
// <option>Bonjour</option>
// <option value="42">Bonjour</option>
option.setAttribute('value', l.id);
document.getElementById('sortie_lieu').append(option);
}
}
}

document.getElementById('sortie_ville').onchange = function () {
let id = document.getElementById('sortie_ville').value;
console.log(document.getElementById('sortie_ville').value);
afficherFruit(id);
}
	</script>

{% endblock %}
{% block footer %}
	{{ parent () }}
{% endblock %}

